/* Dark Theme Base */
body {
  background: #0f0f0f !important;
  color: #f1f1f1 !important;
  margin: 0  !important;
  font-family: "Inter", sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Responsive Container */
.page-container {
  padding: 40px;
}

@media(max-width: 768px) {
  .page-container {
    padding: 20px;
  }
}

.app-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Main content grows and pushes footer down */
.app-content {
  flex: 1;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}